.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.controls > * {
  margin: 0.2rem 0.5rem;
}

button {
  display: block;
  height: 2rem;
  width: 150px;
  cursor: pointer;
}

.breakline {
  display: block;
  width: 100%;
}