.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.controls > * {
  margin: 0.2rem 0.5rem;
}

.selectedObject {
  margin: 0.5rem;
  white-space: pre-wrap;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}

.selectedObject > label {
  display: flex;
  margin: 0.2rem auto;
  min-width: 300px;
  justify-content: space-between;
}

button {
  display: block;
  height: 2rem;
  width: 150px;
  cursor: pointer;
}

.breakline {
  display: block;
  width: 100%;
}