{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "extends": ["plugin:react/recommended", "plugin:prettier/recommended"],
  "plugins": [],
  "rules": {
    "react/prop-types": 1
  }
}
